<ion-header>
  <ion-navbar>
    <ion-title>打卡</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="!isPunchIn">
    <timer #timer [timeInSeconds]="resetSeconds"></timer>
  </div>
    <div *ngIf="isPunchIn; else elseBlock">
      <ion-fab center middle>
        <button ion-fab color="primary" (click)="punchIn()">签到</button>
      </ion-fab>
    </div>
    <ng-template #elseBlock>
      <ion-fab center bottom>
        <button ion-fab color="secondary" (click)="punchOut()">Free</button>
      </ion-fab>
    </ng-template>
  <br>
  <ion-item *ngIf="!isPunchIn">
    <ion-label stacked color="primary">上班时间</ion-label>
    <ion-input type="text" value='{{startTime}}' disabled></ion-input>
  </ion-item>
  <ion-item *ngIf="hasEndTime">
    <ion-label stacked color="primary">吃鸡时间</ion-label>
    <ion-input type="text" value='{{endTime}}' disabled></ion-input>
  </ion-item>
</ion-content>
